* {
  padding: 0;
  margin: 0; }

body {
  background: url("https://skin.sharkgaming.dk/skin/frontend/ultimo/default/images/asfalt.png") repeat; }

.topDefault,
.footerDefault {
  width: 960px;
  margin: 0 auto;
  background-image: url("/img/defaults.jpg"); }

.topDefault {
  height: 302px;
  background-position: top; }

.footerDefault {
  height: 555px;
  background-position: bottom; }

h1, h2, h3,
h4, h5, h6 {
  color: #ee3e42 !important; }

p {
  color: #777; }

.sectionOne {
  background: #090909; }
  .sectionOne .container-fluid .col-4 {
    padding: 40px; }
