* {
  padding: 0;
  margin: 0; }

body {
  background: #050505 !important; }

.topDefault,
.footerDefault {
  width: 960px;
  margin: 0 auto;
  background-image: url("/img/defaults.jpg"); }

.topDefault {
  height: 302px;
  background-position: top; }

.footerDefault {
  height: 555px;
  background-position: bottom; }

.astralis {
  color: #ee3e42 !important; }
  .astralis:before {
    content: '';
    width: 30px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("/img/astralis-logo.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; }

.row {
  border-bottom: 3px solid #222;
  margin-bottom: 80px;
  padding-bottom: 80px; }

.north {
  color: #256ac0 !important; }
  .north:before {
    content: '';
    width: 30px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("/img/north-logo.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; }

.heroic {
  color: #3edd7a !important; }
  .heroic:before {
    content: '';
    width: 30px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("/img/heroic-logo.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; }

p {
  color: #777; }

.sectionOne .container {
  margin-top: 80px; }

@media (min-width: 1200px) {
  .container {
    max-width: 1600px !important; } }
